/*---main background color and basics---*/
body {
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  background-color: orange;
  transition: all 1s ease;
}
/*main background color and basics*/

/*NAV SECTION*/

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  margin-left: 89vw;
  padding-top: 20px;
  z-index: 5;
}
.line {
  display: flex;
  width: 35px;
  height: 6px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  z-index: 5;
}

#navBackground {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  background-color: darkorange;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  clip-path: circle(0px at 90.8% 5.5%);
  transition: all 0.4s ease;
}

#navBackground.open {
  clip-path: circle(9000px at 90% -10%);
  -webkit-clip-path: circle(9000px at 90% -10%);
  transition: all 3s ease;
}

#navContent1 {
  margin-top: 200px;
  width: 500px;
}

#navContentList {
  position: relative;
  margin-top: 400px;
  margin-left: -300;
}

/*#navigation {
  background-color: rgba(0, 0, 0, 0);
  width: 10vh;
  margin-left: auto;
  z-index: 0;
}*/

/*NAV SECTION END*/
.container1 {
  /*main section container */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30vh;
} /*main section container END */

#mainParagraph {
  /* dynamic text section */
  text-align: center;
  margin-top: -5vh;
  margin-bottom: 1vh;
  width: 80vw;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}
#mainParagraph2 {
  width: 70vw;
  text-align: center;
  margin-bottom: 5vh;
  font-family: sans-serif;
  font-size: 25px;
  color: white;
}

/* dynamic text section END*/

#mainInputBox {
  height: 3vh;
  width: 40vw;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  background-color: white;
} /* input box*/

#mainButton {
  /*button stuff*/
  margin-top: 20px;
  height: 5vh;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: darkorange;
  transition: all 1s ease;
}

#mainButton:hover {
  color: white;
  background-color: darkgoldenrod;
}

#mainButton:active {
  transition: 0.1s;
  color: darkgoldenrod;
  background-color: darkorange;
} /*button stuff END*/

::selection {
  color: white;
  background: orange;
}
